{% extends 'frontend/base.html' %}
{% load static %}

{% block style %}
    .link-to-books {
        background-color: rgb(35 69 94);
    }
{% endblock %}

{% block header %}
    {% include 'frontend/nav.html' %}
{% endblock %}

{% block content %}
    <div class="container flex justify-center mx-auto px-4 pt-16">
        <div class="w-1/2">
            <h1 class="text-4xl font-semibold text-gray-600">Welcome to the Django Library Management System</h1>
            <p class="text-lg mt-4">Welcome to our Library Management System powered by Django and Django Rest Framework. With our user-friendly interface, you can effortlessly organize your books, authors, and reservations.</p>
            <a href="#" class="link-to-books mt-4 inline-block text-white py-2 px-4 rounded">View Books</a>
        </div>

        <img src="{% static 'frontend/images/books.png' %}" alt="books" class="w-1/3 aspect-square">
    </div>
{% endblock %}